<Section>
    <about-container class="about-container" id="about">
        <h4>Hello! I'm</h4>
        <h1>Kota Suzuki</h1>
        <p>(Flontend/Backend) Application Enginer</p>
        <p>I like C#. I'm also interested in Microsft Azure, which has a high affinity with C #.</p>
        
        <profile-skill class="profile-skill-grid">
            <Profiles></Profiles>
            <Skills></Skills>
        </profile-skill>
    </about-container>
</Section>
