<Section id="about">
    <about-container class="about-container">
        <FluentLabel Typo="Typography.H4" Color="Color.Accent" Weight="FontWeight.Bold">Hello! I'm</FluentLabel>
        <FluentLabel Typo="Typography.H1" Color="Color.Accent" Weight="FontWeight.Bold">Kota Suzuki</FluentLabel>
        <FluentLabel Typo="Typography.Subject" Color="Color.Accent">(Frontend/Backend) Application Engineer</FluentLabel>
        <FluentLabel Typo="Typography.Subject" Color="Color.Accent">I like C#. I'm also interested in Microsoft Azure, which has a high affinity with C #.</FluentLabel>
        <br/>
        <profile-skill class="profile-skill-grid">
            <Profiles></Profiles>
            <Skills></Skills>
        </profile-skill>
    </about-container>
</Section>
