<Section>
    <about-container class="about-container" id="about">
        <h4>Hello! I'm</h4>
        <h1>Kota Suzuki</h1>
        <div>
            <FluentAnchor Href="https://twitter.com/konnta7" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer">
                <i class="lni lni-twitter-original"></i>
            </FluentAnchor>
            <FluentAnchor Href="https://github.com/konnta0" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer">
                <i class="lni lni-github-original"></i>
            </FluentAnchor>
        </div>
        <p>(Flontend/Backend) Application Enginer</p>
        <p>I like C#. I'm also interested in Microsft Azure, which has a high affinity with C #.</p>
        
        <div class="profile-skill-grid">
            <div class="profile">
                <p>Date of birth: 1992-02-04</p>
                <p>Location: Yokohama Kanagawa Japan</p>
            </div>
            <div class="skills">
                <Skill Name="C#" Value="80"></Skill>
                <SkillTag Name="Xamarin"></SkillTag>
            </div>
        </div>
    </about-container>
</Section>
