<skills class="skills">
    <h3>Skills</h3>
    <h5>Languages</h5>
    <SkillItem Name="C#" Value="80"></SkillItem>
    <SkillItem Name="PHP" Value="40"></SkillItem>
    <SkillItem Name="Go" Value="30"></SkillItem>
    <skill-tags>
        <h5>Others</h5>
        <SkillTag Name=".NetCore"></SkillTag>
        <SkillTag Name="Xamarin"></SkillTag>
        <SkillTag Name="Unity"></SkillTag>
        <SkillTag Name="WPF"></SkillTag>
        <SkillTag Name="Laravel"></SkillTag>
        <SkillTag Name="MySQL"></SkillTag>
        <SkillTag Name="Cloud Spanner"></SkillTag>
        <SkillTag Name="BigQuery"></SkillTag>
    </skill-tags>
</skills>