<skill-item class="skill-item">
    <p class="skill-name">@Name</p>
    <div class="skill-gauge">
        <FluentProgress Min="0" Max="100" Value="@Value.ToString()" style="height: 8px; width: 100%;"></FluentProgress>
    </div>
    <p class="skill-value">@Value%</p>
</skill-item>