<skills class="skills">
    <h3>Languages</h3>
    <SkillItem Name="C#" Value="80"></SkillItem>
    <SkillItem Name="PHP" Value="40"></SkillItem>
    <SkillItem Name="Go" Value="30"></SkillItem>
    <skill-tags>
        <h4>Others</h4>
        <SkillTag Name=".NetCore"></SkillTag>
        <SkillTag Name="Xamarin"></SkillTag>
        <SkillTag Name="Unity"></SkillTag>
        <SkillTag Name="WPF"></SkillTag>
        <SkillTag Name="Laravel"></SkillTag>
        <SkillTag Name="MySQL"></SkillTag>
        <SkillTag Name="Cloud Spanner"></SkillTag>
        <SkillTag Name="BigQuery"></SkillTag>
    </skill-tags>
</skills>