<profiles class="profiles">
    <h3>Profiles</h3>
    <ProfileItem Title="Name">
        <p>Kota Suzuki</p>
    </ProfileItem>
    <ProfileItem Title="Date of birth">
        <p>1992-02-04</p>
    </ProfileItem>
    <ProfileItem Title="Location">
        <p>Yokohama Kanagawa Japan</p>
    </ProfileItem>
    <ProfileItem Title="Social Accounts">
        <FluentAnchor Href="https://twitter.com/konnta7" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer">
            <i class="lni lni-twitter-original"></i>
        </FluentAnchor>
        <FluentAnchor Href="https://github.com/konnta0" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer">
            <i class="lni lni-github-original"></i>
        </FluentAnchor>
    </ProfileItem>
</profiles>