<profiles class="profiles">
    <h3>Profiles</h3>
    <ProfileItem Title="Name">
        Kota Suzuki
    </ProfileItem>
    <ProfileItem Title="Date of birth">
        1992-02-04
    </ProfileItem>
    <ProfileItem Title="Location">
        Yokohama Kanagawa Japan
    </ProfileItem>
    <ProfileItem Title="Social Accounts">
        <FluentAnchor Href="https://twitter.com/konnta7" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer" style="margin: 5px 2px;border-radius: 50%;">
            <i class="lni lni-twitter-original"></i>
        </FluentAnchor>
        <FluentAnchor Href="https://github.com/konnta0" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer" style="margin: 5px 2px;border-radius: 50%;">
            <i class="lni lni-github-original"></i>
        </FluentAnchor>
    </ProfileItem>
    <ProfileItem Title="CliftonStrengths Top 5">
        <clifton-strengths>
            <p>1. Adaptability</p>
            <p>2. Deliberative</p>
            <p>3. Harmony</p>
            <p>4. Empathy</p>
            <p>5. Responsibility</p>   
        </clifton-strengths>
    </ProfileItem>
</profiles>