<Section>
    <h3>Projects</h3>
    <projects-container class="projects-container" id="projects">
        <projects-grid class="project-grid">
            <ProjectItem></ProjectItem>
            <ProjectItem></ProjectItem>
        </projects-grid>
    </projects-container>
</Section>
