<Section id="projects">
    <h3>Projects</h3>
    <projects-container class="projects-container">
        <projects-grid class="project-grid">
            <ProjectItem Title="Errors" Href="https://github.com/konnta0/Errors">
                <p>C# Error(Exception) handler</p>
            </ProjectItem>
            <ProjectItem Title="Portfolio" Href="https://github.com/konnta0/Portfolio">
                <p>This Web Site Source.</p>
                <p>Create from C# and Blazor wasm.</p>
                <p>Build on Azure Static Web Apps.</p>
            </ProjectItem>
        </projects-grid>
    </projects-container>
</Section>
