.project-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.project-icon {
    width: 100%;
    height: 150px;
}

.icon {
    font-size:100px;
}

.project-overview {
    text-align: center;
    width: 100%;
}