<project-item class="project-item">
    <FluentCard>
        <div class="project-icon">
            <FluentAnchor class="project-item-link" Href="@Href" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer" style="width: 100%; height: 100%">
                <i class="lni lni-github-original icon"></i>
            </FluentAnchor>
        </div>
        <div class="project-overview">
            <h2>@Title</h2>
            @ChildContent
        </div>
    </FluentCard>
</project-item>


