<project-item class="project-item">
    <FluentAnchor Href="https://github.com/konnta0/Errors" Appearance="Appearance.Accent" target="_blank" rel="noopener noreferrer">
        <FluentCard style="width: 100%">
            <i class="lni lni-github-original"></i>
            <h2>Heading</h2>
            @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maurisscelerisque varius ornare. Etiam convallis sollicitudin scelerisque.Maecenas in velit vehicula, aliquet orci et, consequat purus. Donec egetsodales lectus, vel sollicitudin ligula. Suspendisse volutpat auctor diam,vel mattis lorem venenatis in.</p> *@
        </FluentCard>
    </FluentAnchor>
</project-item>


