@page "/"

<Bg>
    @for (var i = 0; i < 20; i++)
    {
        <Dots></Dots>
    }    
</Bg>
@* <div class="background"> *@
@*   <span></span> *@
@*   <span></span> *@
@*   <span></span> *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@*   $1$ <span></span> #1# *@
@* </div> *@
<Header></Header>
<FluentButton Appearance="Appearance.Lightweight">light weight</FluentButton>
<FluentButton Appearance="Appearance.Accent">accent</FluentButton>
<FluentButton Appearance="Appearance.Neutral">natural</FluentButton>
<FluentCard>
    <h2>hello</h2>
    <FluentButton Appearance="Appearance.Accent">Click</FluentButton>
</FluentCard>
<FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
<FluentAnchor Appearance="Appearance.Filled" Href="webcomponents">Web components</FluentAnchor>

