@page "/"

<SiteWrapper>
    <SiteHeader></SiteHeader>
    <AboutContainer></AboutContainer>
</SiteWrapper>

<BackgroundDesign>
    @for (var i = 0; i < new Random().Next(15, 20); i++)
    {
        <Dots></Dots>
    }    
</BackgroundDesign>

@* <FluentDivider></FluentDivider> *@
@* <FluentButton Appearance="Appearance.Lightweight">light weight</FluentButton> *@
@* <FluentButton Appearance="Appearance.Accent">accent</FluentButton> *@
@* <FluentButton Appearance="Appearance.Neutral">natural</FluentButton> *@
@* <FluentCard> *@
@*     <h2>hello</h2> *@
@*     <FluentButton Appearance="Appearance.Accent">Click</FluentButton> *@
@* </FluentCard> *@
@* <FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing> *@
@* <FluentAnchor Appearance="Appearance.Filled" Href="webcomponents">Web components</FluentAnchor> *@

