@page "/"

<FluentCard>
    <h2>hello</h2>
    <FluentButton Appearance="Appearance.Accent">Click</FluentButton>
</FluentCard>
<FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
<FluentAnchor Appearance="Appearance.Filled" Href="webcomponents">Web components</FluentAnchor>

