@page "/"

<BackgroundDesign>
    @for (var i = 0; i < 20; i++)
    {
        <BlurDots></BlurDots>
    }
</BackgroundDesign>
<BlurDots></BlurDots>
<div class="background">
  <span></span>
  <span></span>
  <span></span>
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
  @* <span></span> *@
</div>
<Header></Header>
<FluentButton Appearance="Appearance.Lightweight">light weight</FluentButton>
<FluentButton Appearance="Appearance.Accent">accent</FluentButton>
<FluentButton Appearance="Appearance.Neutral">natural</FluentButton>
<FluentCard>
    <h2>hello</h2>
    <FluentButton Appearance="Appearance.Accent">Click</FluentButton>
</FluentCard>
<FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
<FluentAnchor Appearance="Appearance.Filled" Href="webcomponents">Web components</FluentAnchor>

