<header>
    <SiteNavigation>
        <FluentAnchor>logo</FluentAnchor>
        <div class="navigation-container">
            <SiteNavigationItem Href="#">ABOUT</SiteNavigationItem>
            <SiteNavigationItem Href="#">PROJECTS</SiteNavigationItem>
            <SiteNavigationItem Href="#">FUTURE</SiteNavigationItem>
        </div>
    </SiteNavigation>    
</header>
