<header>
    <SiteNavigation>
        <div class="navigation-container">
            <SiteNavigationItem Href="#about">ABOUT</SiteNavigationItem>
            <SiteNavigationItem Href="#projects">PROJECTS</SiteNavigationItem>
        </div>
    </SiteNavigation>
</header>
